@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 80vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
  body {
    min-height: 90vh;
    background: #1a0d01;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 38px;
    padding-bottom: 3rem;
    box-sizing: border-box;
  }
  .card {
    background: #1a0301;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    font-size: 40px;
    color: rgb(255, 161, 132);
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .card1 li 
  { display: inline;
    padding: 6px; 
    font-size: 30px;
    margin-right: 50px;
  }
  .card:hover {
    color: rgb(205, 240, 9);
    transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  .card::before {
    content: "";
    width: 106%;
    height: 104%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #fcacace0, #ee102e 43%, #c23700);
      position: absolute;
      z-index: -1;
      top: -2%;
      left: -3%;
      animation: spin 2.3s linear infinite;
  }
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 5);
    left: 0;
    right: 0;
    z-index: -1;
    height: 106%;
    width: 106%;
    margin: 0 auto;
    transform: scale(0.7);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #f9fc61, #8de33c 46%, #025c28);
      opacity: 1;
    transition: opacity .4s;
    animation: spin 2.5s linear infinite;
  }

  @keyframes spin {
    0% {
      --rotate: 1deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  a {
    color: #f7fccc;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-top: 32px;
  }